@(form : Form[TaskForm])(implicit flash: Flash)

@main("create") {
  @helper.form(action = controllers.routes.Task.create, 'role -> "form", 'class -> "form-horizontal"){
    <div class="container">
      <fiedset>
        <legend>Create Form</legend>
        <td>@helper.inputText(form("name"), '_help -> "名前を入力してください")</td>
        <td>@helper.inputText(form("description"), '_help -> "説明を入力してください")</td>
        <td>@helper.inputText(form("status"), '_help -> "ステータスを入力してください")</td>
        <td>@helper.inputText(form("category_id"), '_help -> "カテゴリを入力してください")</td>
        <div align="center"><input type="submit" value="登録" class="btn btn-primary"></div>
      </fiedset>
    </div>
  }
}
