@()
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">ToDoApp</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="/">home</a>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Task</a>
          <ul class="dropdown-menu">
            <li>
              <a href="/task/">List</a>
            </li>
            <li>
              <a href="/task/create">Create</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
